.navbar {
    height: 3rem;
    width: 100%;
    color: #1532A8;
}

/*Modal Styling*/

.modal-buttons-div{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  
}

.modal-button{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.modal-label-div{
  display: flex;
  width: 100%;
  
}

.modal-label{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.modal-title-div{
  color: black;
}

.modal-title{
  color: black;
  font-weight: bold;
  font-size: 1.125rem;
  /* line-height: calc(1.75/1.125); */
  /* letter-spacing: 0.05em; */
}

/*text-md text-black bg-gray-50 p-3 rounded-lg border-[0.1rem] border-gray-400*/
.modal-field{
  font-size: 1rem;
  color: black;
  background-color: #f9fafb;
  border: 0.1rem solid #9ca3af;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.edit-modal-field-div{
  font-size: 1rem;
  color: black;
  background-color: #f9fafb;
  border: 0.1rem solid #9ca3af;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

/*"w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#1532A8]"*/
.edit-modal-field{
  width: 100%;
  font-size: 1rem;
  color: black;
  background-color: #f9fafb;
  border: 0.1rem solid #9ca3af;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

/*text-base text-gray-700 bg-gray-50 p-3 rounded-lg border border-gray-100 min-h-[6rem] whitespace-pre-wrap*/
.modal-description{
  font-size: 1rem;
  color: black;
  background-color: #f9fafb;
  border: 0.1rem solid #9ca3af;
  padding: 0.75rem;
  border-radius: 0.5rem;
  min-height: 6rem;
  white-space: pre-wrap;
}

/*size-10 flex justify-center items-center rounded-full bg-red-600 text-white hover:bg-red-700 transition-colors shadow-md*/
.modal-close-btn{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  color: white;
  /*bg-red-600 text-white hover:bg-red-700 transition-colors*/
}

/*Navbar*/

.navbar-btn-txt{
  font-size: 1rem;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;


}

.navbar-btn{
  border-radius: 0.5rem;
}

.navbar-btn:hover{  
  background-color: #324EBE
}

.navbar-btn-txt:active{
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.25rem;
  
  /* border-bottom: 0.5rem solid white; */
}

.navbar-btn-div{
  padding-right: 2rem;
}

/*User Profile*/
.relative-div{
  position: relative;
  /*Change to rem*/
  margin-left: 10px;
}

.relative-div .user-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  
}

.relative-div .custom-profile-dropdown{
  width:200px;
  position: absolute;
  top: 60px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  box-sizing: 0 5px 25px rgb(0 0 0 / 10%);
  border-radius: 15px;
  transition: 0.5s;
  border: 1px solid #e4e4e4;
  height: fit-content;
  visibility: hidden;
  opacity: 0;
}

.relative-div .custom-profile-dropdown.active{
  visibility: visible;
  opacity: 1;
}

.relative-div .custom-profile-dropdown::before{
  content: "";
  position: absolute;
  top: -5px;
  right: 24px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.custom-profile-dropdown h3.menu-name{
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  color: #db0606;
  border-bottom: 1px solid #e4e4e4;

}

.custom-profile-dropdown .menu-items-div{
  width: 100%;
}

.menu-items-div .menu-item{
  padding: 10px 0;
  
}