.navbar {
    height: 3rem;
    width: 100%;
    color: #1532A8;
}

/*Modal Styling*/
.modal-buttons-div{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  
}

.modal-button{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.modal-label-div{
  display: flex;
  width: 100%;
  
}

.modal-label{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}