.navbar {
    height: 3rem;
    width: 100%;
    color: #1532A8;
}

/*Modal Styling*/

.modal-buttons-div{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  
}

.modal-button{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.modal-label-div{
  display: flex;
  width: 100%;
  
}

.modal-label{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.modal-title-div{
  color: black;
}

.modal-title{
  color: black;
  font-weight: bold;
  font-size: 1.125rem;
  /* line-height: calc(1.75/1.125); */
  /* letter-spacing: 0.05em; */
}

/*text-md text-black bg-gray-50 p-3 rounded-lg border-[0.1rem] border-gray-400*/
.modal-field{
  font-size: 1rem;
  color: black;
  background-color: #f9fafb;
  border: 0.1rem solid #9ca3af;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

/*text-base text-gray-700 bg-gray-50 p-3 rounded-lg border border-gray-100 min-h-[6rem] whitespace-pre-wrap*/
.modal-description{
  font-size: 1rem;
  color: black;
  background-color: #f9fafb;
  border: 0.1rem solid #9ca3af;
  padding: 0.75rem;
  border-radius: 0.5rem;
  min-height: 6rem;
  white-space: pre-wrap;
}

/*size-10 flex justify-center items-center rounded-full bg-red-600 text-white hover:bg-red-700 transition-colors shadow-md*/
.modal-close-btn{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  color: white;
  /*bg-red-600 text-white hover:bg-red-700 transition-colors*/
}

/*Navbar*/

.navbar-btn-txt{
  font-size: 1rem;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;


}

.navbar-btn{
  border-radius: 0.5rem;
}

.navbar-btn:hover{  
  background-color: #324EBE
}

.navbar-btn-txt:active{
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.25rem;
  
  /* border-bottom: 0.5rem solid white; */
}

.navbar-btn-div{
  padding-right: 2rem;
}